.app {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.content {
   width: 680px;
   height: 685px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #e0e0e0;
   margin: 0 auto;
   padding: 0 15px;
   border-radius: 20px;
}

button {
   cursor: pointer;
}

.hidden-card {
   opacity: 0;
   cursor: unset !important;
}